BACKEND_PORT=6052
DATABASE_URL=mongodb://localhost:27017/uptime
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:6052/api/v1/auth/google/callback
JWT_SECRET=your-jwt-secret-key
SESSION_SECRET=your-session-secret
FRONTEND_URL=http://localhost:6051

MAIL_SMTP_USERNAME=
MAIL_SMTP_TOKEN=
MAIL_SMTP_SERVER=
MAIL_SMTP_PORT=